- content_for :head do
  %title fakebarUno

= partial "summary-template.haml"

= partial "history-template.haml"

= partial "detail-template.haml"

= partial "replies-template.haml"

= partial "sidebar.haml"

